.qr-card {
  background-color: #ffffff;
  height: $card-height;
  width: $card-width;
  margin: 0 auto;
  font-size: 15px;
  padding: 15px;
  border-radius: 20px;
}
.QR-Code {
  background-color: red;
  height: 50%;
  border-radius: 10px;
}

.qr-text {
  text-align: center;
  h1,
  h2 {
    color: $Dark-blue;
    font-weight: 700;
    // margin-top: 25px;
  }
  p {
    color: $paynes-gray;
  }
}
