.qr-card {
  background-color: #ffffff;
  height: $card-height;
  width: $card-width;
  margin: 0 auto;
  font-size: 15px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 15px 15px 30px rgba(82, 90, 111, 0.4);
}
.QR-Code {
  //   background-color: red;
  height: 55%;
  border-radius: 12px;
  background-image: url("../images/image-qr-code.png");
  background-size: cover;
  background-position: center;
  //   border-radius: 8px;
}

.qr-text {
  text-align: center;
  margin-top: 25px;
  h1,
  h2 {
    color: $Dark-blue;
    font-weight: 700;
    // margin-top: 25px;
  }
  p {
    color: $paynes-gray;
  }
}
